body {
    background-color: #e8ddd1;
    font-family: 'Press Start 2P', cursive;
}

.btn {
    background-color: #f5f5f5;
}

.giphy-embed {
    display: block;
    margin: auto;
}

.bottom-giphy {
    margin-top: 10%;
}

.quiz-title {
    margin-top: 5%;
    text-align: center;
}

.title-img {
    margin-left: -30px;
    margin-top: -10px;
    max-height: 10vh;
}

.quiz-desc {
    font-style: italic;
    text-align: center;
}

#quizContainer {
    padding: 1.5rem;
}

.question-container {
    margin: auto;
    width: 45vw;
}

.quiz-question {
    font-size: larger;
    font-weight: 600;
    margin: 3% 0;
    text-align: center;
}

.pokemon,
.poke-metadata {
    display: flex;
    flex-direction: column;
}

.pokemon img {
    max-height: 40vh;
    object-fit: contain;
}

.pokemon h2 {
    text-align: center;
}

@media (max-width: 650px) {
    .top-giphy,
    .quiz-desc {
        height: 40vh;
    }
    .quiz-desc {
        padding: 1em;
    }
    .top-giphy {
        margin-bottom: 20%;
    }
    .bottom-giphy {
        margin-top: 20%;
    }
    #pokemonContainer {
        margin-top: .5em;
    }
    .pokemon {
        text-align: center;
        height: 50vh;
    }
}