.app-container {
    font-family: 'Press Start 2P', cursive;
}

.quiz-title {
    margin-top: 5%;
    text-align: center;
}

.quiz-desc {
    font-style: italic;
    text-align: center;
}

#quizContainer {
    margin: auto;
    max-width: 75vw;
    padding: 2rem;
}

.quiz-question {
    font-size: larger;
    font-weight: 600;
    margin: 3% 0;
    text-align: center;
}